@model Article

<form method="post" asp-action="Delete">
    <div class="form-group">
        <label asp-for="Category.CategoryName">Category name</label>
        <input type="text" value="@Model.Category.CategoryName" class="form-control" disabled />
        <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="Id" />
    <input type="submit" class="btn btn-danger" value="Delete" onclick="return confirm('Are you sure you want to delete this article?');" />
</form>

